<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Details</title>
</head>

<body>
  <table border=1>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Created</th>
    </tr>
    <% for (var x of details) { %>
    <tr>
      <td><a href="/mongooses/<%= x._id %>"><%= x.name %></a></td>
      <td><%= x.type %></td>
      <td><%= x.createdAt %></td>
    </tr>
    <% } %>
  </table>

  <a href="/mongooses/edit/<%= details[0]._id %>">edit</a>
  <form method="post" action="/mongooses/destroy/<%= details[0]._id %>"><input type="submit" value="Delete"></form>
</body>

</html>